body {
    margin: 0;
    font-family: Arial;
    background: #f4f4f4;
     background: url('https://as2.ftcdn.net/v2/jpg/04/20/51/81/1000_F_420518117_nju7Qrchsc6d6p3vzqAj8qujyabmvDkY.jpg') no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
    padding-top: 80px;
}

/* NAVBAR */
.navbar {
    position: fixed;
    top: 0;
    width:100% ;
     z-index: 1000;
   background:#0077b6;
    padding: 15px;
    display: flex;
    align-items: center;
}

.logo {
    flex: 1;
    color: white;
    margin-left: 20px;
}

.navbar a {
    color: white;
    margin-right: 20px;
    text-decoration: none;
    font-weight: bold;
}

/* HERO */
.hero {
    background: url('https://i.imgur.com/yR3YB8I.jpg') no-repeat center/cover;
    height: 400px;
    text-align: center;
    color:white;
    padding-top: 150px;
    
}

.btn {
    padding: 12px 25px;
    background: white;
    color: #0077b6;
    border-radius:20px;
    font-size: 18px;
    margin-top: 10px;
    cursor: pointer;
    border-color: aliceblue;

}

/* DESTINATIONS */
.title {
    text-align: center;
    margin: 20px;
}

.places {
    display: flex;
    justify-content: center;
}

.card {
    width: 250px;
    background: white;
    border-radius: 10px;
    margin: 15px;
    padding: 10px;
    text-align: center;
}

.card img {
    width: 100%;
    height: 160px;
    border-radius: 10px;
}

/* CONTACT */
.contact-box {
    width: 300px;
    background:white;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}