body{
   /* display: flex; */
   /* justify-content: center; */
   /* align-items:center ; */
padding: 20px;
   margin: 0;
}
.container{
   width: 1200px;;
   height:600px;
   display: flex;
 flex-wrap: wrap; 
   justify-content:center;
   /* padding: 10px; */
   align-items:center ;
   gap: 10px;
}
  .child{
   width: 300px;
    height: 250px;
    /* border: 1px solid; */
    border-radius: 20px;
    margin-bottom: 15px;
    overflow: hidden;
     transition: back ground 0.8s ease; 
   
    
}
 .child img{

    width: 100%;
    height: 100%;
    transition: opacity 0.8s ease, height 0.8s ease;
}
.child p{
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   opacity: 0;
   margin-top: 0%;
    transition: opacity 0.8s ease;
    text-align: center;
    margin: 10px 0;
    font-size: 3rem;
    color:white;
}

.child:hover img{
    opacity: 0;
    height: 0;
}

.child:hover p{
   opacity: 1;
    background: linear-gradient(135deg, #cc2b5e 0%, #753a88 100%);
}
child:hover p{
    opacity: 1;
}
h1{
   color: red;
   font-style: italic;
   font-size: 3rem;
   text-align: center;
}

