body{ 
    height:800px;
    display: flex; 
  justify-content: center; 
  align-items: center;
  background-color: black;
    
} 
.container{

    width: 350px;
    height: 300px;
    /* border: 2px solid ; */
    background-color:yellow;
   gap: 10px;
    display: flex;
    justify-content:center;
    align-items: center;
}
.child{
    height: 100px;
    width: 10px;
    border: black solid 1px;
    background-color:black;
    border-radius: 6px;
    animation-iteration-count: infinite;
    animation-duration: 1s; 
}



.child-1,.child-8{
    animation-delay: 0.1s;
    animation-name: a;
}
.child-2,.child-6{
animation-delay: 0.5s;
    animation-name: b;
}
.child-3,.child-7{
  animation-delay: 0.5s;
    animation-name: c;  
}
.child-4,.child-9{
    animation-delay: 0.2s;
    animation-name: c; 
}
.child-5,.child-10{
animation-delay: 0.3s;
    animation-name: b;
}
@keyframes a {
    0%{
        height: 10px;
    }
    50%{
        height: 120px;
    }
    100%{
        height: 10px;
    }
    
}
@keyframes b {
    0%{
        height: 3px;
    }
    50%{
        height: 100px;
    }
    100%{
        height: 3px;
    }
    
}
@keyframes c{
    0%{
        height: 5px;
    }
    50%{
        height: 70px;
    }
    100%{
        height: 5px;
    }
    
}


